In [2]:
import pandas as pd
import numpy as np
import random
import matplotlib.pyplot as plt

## Wrangling 

### Duplicate Data

In [3]:
# Data Science
df_ds = pd.read_csv("data/data_scientist.csv").iloc[:, 1 :] # remove index column
# Data Engineering 
df_de = pd.read_csv("data/data_engineer.csv").iloc[:, 1 :]
# Data Analysis
df_da = pd.read_csv("data/data_analyst.csv").iloc[:, 1 :]
# ML engineering
df_ml = pd.read_csv("data/ml_engineer.csv").iloc[:, 1 :]

# Duplicated Job Descriptions
duplicates_mask = df_ds["Job Description"].duplicated(keep=False) == True
print("Number of duplicates:", duplicates_mask.sum())
df_ds[duplicates_mask].head(10)

Number of duplicates: 539

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
22,Data Scientist -,-1,"Our Mission\nWe’re here to create a safer, hap...",4.5,Blue Owl\n4.5,"San Francisco, CA",-1,51 to 200 Employees,2016,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,-1
68,"Software Engineer (Data Scientist, C,C++,Linux...",$72k-$142k\n(Glassdoor Est.),"During the current global health crisis, the p...",4.1,Mentor Graphics\n4.1,"Fremont, CA",-1,5001 to 10000 Employees,1981,Company - Public,Computer Hardware & Software,Information Technology,$1 to $2 billion (USD),-1
91,Data Scientist 1,$94k-$152k\n(Glassdoor Est.),Who we are\n\n\nFueled by a fundamental belief...,3.9,PayPal\n3.9,"San Jose, CA",-1,10000+ Employees,1998,Company - Public,Internet,Information Technology,$10+ billion (USD),-1
92,Data Scientist,-1,"The Chan Zuckerberg Biohub (""CZ Biohub”) is an...",3.8,Chan Zuckerberg Biohub\n3.8,"San Francisco, CA",-1,1 to 50 Employees,-1,Nonprofit Organization,Health Fundraising Organizations,Non-Profit,Less than $1 million (USD),-1
93,Data Scientist 1,$94k-$152k\n(Glassdoor Est.),Who we are\n\n\nFueled by a fundamental belief...,3.9,PayPal\n3.9,"San Jose, CA",-1,10000+ Employees,1998,Company - Public,Internet,Information Technology,$10+ billion (USD),-1
94,Data Scientist,-1,"The Chan Zuckerberg Biohub (""CZ Biohub”) is an...",3.8,Chan Zuckerberg Biohub\n3.8,"San Francisco, CA",-1,1 to 50 Employees,-1,Nonprofit Organization,Health Fundraising Organizations,Non-Profit,Less than $1 million (USD),-1
118,"Data Scientist - Analytics, Trust & Safety",-1,"Data Scientist - Analytics, Trust & Safety\nMo...",4.0,TikTok\n4.0,"Mountain View, CA",-1,1001 to 5000 Employees,2016,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,-1
122,Data Scientist,$100k-$136k\n(Glassdoor Est.),Job TITLE: Data Scientist\n\nLocation: Santa C...,4.1,Flexton\n4.1,"Santa Clara, CA",-1,51 to 200 Employees,2007,Company - Private,IT Services,Information Technology,$10 to $25 million (USD),-1
124,Data Scientist,$100k-$136k\n(Glassdoor Est.),Job TITLE: Data Scientist\n\nLocation: Santa C...,4.1,Flexton\n4.1,"Santa Clara, CA",-1,51 to 200 Employees,2007,Company - Private,IT Services,Information Technology,$10 to $25 million (USD),-1
171,Data Scientist,$120k-$191k\n(Glassdoor Est.),Bioinformatics Programmer II\n\n17-Aug-2020\n\...,4.1,UCSF Medical Center\n4.1,"San Francisco, CA",-1,10000+ Employees,1907,Hospital,Health Care Services & Hospitals,Health Care,$50 to $100 million (USD),-1

In [4]:
# Duplicates associated of record at index "i"
i = 68
job_description = df_ds.loc[i, "Job Description"]
df_ds[df_ds["Job Description"] == job_description]

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
68,"Software Engineer (Data Scientist, C,C++,Linux...",$72k-$142k\n(Glassdoor Est.),"During the current global health crisis, the p...",4.1,Mentor Graphics\n4.1,"Fremont, CA",-1,5001 to 10000 Employees,1981,Company - Public,Computer Hardware & Software,Information Technology,$1 to $2 billion (USD),-1
748,"Software Engineer (Data Scientist, C,C++,Linux...",$57k-$119k\n(Glassdoor Est.),"During the current global health crisis, the p...",4.0,Siemens Healthineers\n4.0,"Fremont, CA",-1,10000+ Employees,1847,Company - Public,Health Care Services & Hospitals,Health Care,$10+ billion (USD),-1

In [5]:
# Inspect records close to the duplicate found at index 748
df_ds.iloc[745:751]

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
745,"Machine Learning Engineer, 2+ Years Experience",$113k-$196k\n(Glassdoor Est.),Snap Inc. is a camera company. We believe that...,3.9,Snap\n3.9,"Los Angeles, CA",-1,1001 to 5000 Employees,2011,Company - Public,Computer Hardware & Software,Information Technology,Unknown / Non-Applicable,-1
746,Data Engineer - Product Analytics,$100k-$179k\n(Glassdoor Est.),ABOUT THE TEAM\n\n\nThe data engineering team ...,3.4,Stitch Fix\n3.4,"San Francisco, CA",-1,5001 to 10000 Employees,2011,Company - Public,Other Retail Stores,Retail,$500 million to $1 billion (USD),-1
747,Looking for Data Scientist - Machine Learning ...,-1,Looking for Data Scientist - Machine Learning ...,4.9,Tekishub Consulting Services\n4.9,"Sunnyvale, CA",-1,201 to 500 Employees,2008,Company - Private,IT Services,Information Technology,$50 to $100 million (USD),-1
748,"Software Engineer (Data Scientist, C,C++,Linux...",$57k-$119k\n(Glassdoor Est.),"During the current global health crisis, the p...",4.0,Siemens Healthineers\n4.0,"Fremont, CA",-1,10000+ Employees,1847,Company - Public,Health Care Services & Hospitals,Health Care,$10+ billion (USD),-1
749,Principal Data Scientist 200000CC,-1,Principal Data Scientist 200000CC\nWork Locati...,2.0,Tech-Connect\n2.0,"Los Angeles, CA",-1,1 to 50 Employees,-1,Company - Private,Enterprise Software & Network Solutions,Information Technology,$1 to $5 million (USD),-1
750,Machine Learning Engineer,-1,Lead AI development in delivering value to our...,2.8,Digital Dhara\n2.8,"San Jose, CA",-1,1 to 50 Employees,-1,Company - Private,-1,-1,Less than $1 million (USD),-1

In [6]:
# Duplicate records
df_ds.duplicated(keep=False).sum()

527

In [7]:
# Remove duplicates
df_1 = df_ds[df_ds.duplicated() == False]
df_2 = df_de[df_de.duplicated() == False]
df_3 = df_da[df_da.duplicated() == False]
df_4 = df_ml[df_ml.duplicated() == False]

In [8]:
# Merge data from all queries 
df = pd.concat([df_1, df_2, df_3, df_4], ignore_index=True)
df

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,Sr. DATA SCIENTIST,$155k-$247k\n(Glassdoor Est.),Title: Sr. Data Scientist\n\nCompany: Samsung ...,3.7,Samsung Research America\n3.7,"Mountain View, CA",-1,1001 to 5000 Employees,1988,Subsidiary or Business Segment,Computer Hardware & Software,Information Technology,$50 to $100 million (USD),-1
1,Data Scientist - Telecommute,$67k-$117k\n(Glassdoor Est.),Optum Payment Integrity Analytics is looking t...,3.4,Unitedhealth Group\n3.4,"San Diego, CA",-1,10000+ Employees,1977,Company - Public,Health Care Services & Hospitals,Health Care,$10+ billion (USD),-1
2,Clinical Laboratory Scientist PM Shift,-1,Testing is the most significant bottleneck in ...,-1.0,SummerBio,"Menlo Park, CA",-1,-1,-1,-1,-1,-1,-1,-1
3,Manufacturing Scientist,$41k-$91k\n(Glassdoor Est.),Biomerica Corporation focusing on the research...,2.5,Biomerica\n2.5,"Irvine, CA",-1,1 to 50 Employees,-1,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$5 to $10 million (USD),-1
4,"Data Scientist, Medical Diagnostics",-1,_*The Company*_\nThe world is facing a medical...,1.0,Specific Diagnostics\n1.0,"Mountain View, CA",-1,1 to 50 Employees,-1,Company - Private,-1,-1,Less than $1 million (USD),-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2416,Modem Systems Engineer (5G/LTE Advanced Algori...,$97k-$123k\n(Glassdoor Est.),Modem Systems Engineer (5G/LTE – Advanced Algo...,3.5,"Samsung Semiconductor, Inc.\n3.5","San Diego, CA",-1,1001 to 5000 Employees,1983,Subsidiary or Business Segment,Computer Hardware & Software,Information Technology,Unknown / Non-Applicable,-1
2417,Senior Data Scientist,-1,"WHO WE ARE\n\nKinship, Mars Petcare's newest d...",-1.0,Kinship,"San Francisco, CA",-1,1 to 50 Employees,-1,Company - Private,Advertising & Marketing,Business Services,Less than $1 million (USD),-1
2418,"Data Scientist, Life Sciences (US)",$97k-$156k\n(Glassdoor Est.),CitiusTech is a leader in HealthCare innovatio...,3.7,CitiusTech\n3.7,"San Francisco, CA",-1,1001 to 5000 Employees,2005,Company - Private,IT Services,Information Technology,$100 to $500 million (USD),-1
2419,"Senior Data Scientist, (Genomics, Presicion Me...",$97k-$158k\n(Glassdoor Est.),"About City of Hope\nCity of Hope, an innovativ...",3.4,City of Hope\n3.4,"Irwindale, CA",-1,5001 to 10000 Employees,1913,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$100 to $500 million (USD),-1
2420,Principal Data Scientist - Health Economics & ...,$134k-$218k\n(Glassdoor Est.),The Position\n\n\nPosition is based in South S...,4.1,Genentech\n4.1,"Los Angeles, CA",-1,10000+ Employees,1976,Subsidiary or Business Segment,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),-1

In [9]:
# Remove duplicate records from combined search queries.
df = df[df["Job Description"].duplicated() == False]
df.head(10)

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,Sr. DATA SCIENTIST,$155k-$247k\n(Glassdoor Est.),Title: Sr. Data Scientist\n\nCompany: Samsung ...,3.7,Samsung Research America\n3.7,"Mountain View, CA",-1,1001 to 5000 Employees,1988,Subsidiary or Business Segment,Computer Hardware & Software,Information Technology,$50 to $100 million (USD),-1
1,Data Scientist - Telecommute,$67k-$117k\n(Glassdoor Est.),Optum Payment Integrity Analytics is looking t...,3.4,Unitedhealth Group\n3.4,"San Diego, CA",-1,10000+ Employees,1977,Company - Public,Health Care Services & Hospitals,Health Care,$10+ billion (USD),-1
2,Clinical Laboratory Scientist PM Shift,-1,Testing is the most significant bottleneck in ...,-1.0,SummerBio,"Menlo Park, CA",-1,-1,-1,-1,-1,-1,-1,-1
3,Manufacturing Scientist,$41k-$91k\n(Glassdoor Est.),Biomerica Corporation focusing on the research...,2.5,Biomerica\n2.5,"Irvine, CA",-1,1 to 50 Employees,-1,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$5 to $10 million (USD),-1
4,"Data Scientist, Medical Diagnostics",-1,_*The Company*_\nThe world is facing a medical...,1.0,Specific Diagnostics\n1.0,"Mountain View, CA",-1,1 to 50 Employees,-1,Company - Private,-1,-1,Less than $1 million (USD),-1
5,Senior Food Scientist,$94k-$152k\n(Glassdoor Est.),Senior Food Scientist *\nWe’re looking for a P...,3.5,Torani\n3.5,"South San Francisco, CA",-1,51 to 200 Employees,1925,Company - Private,Food & Beverage Manufacturing,Manufacturing,Unknown / Non-Applicable,-1
6,Marketing Analytics Manager,-1,Marketing Analytic Manager Job Responsibilitie...,-1.0,Repipe Specialists,"Burbank, CA",-1,1 to 50 Employees,-1,Company - Private,Construction,"Construction, Repair & Maintenance",Less than $1 million (USD),-1
7,Machine Learning Engineer Virtual Hiring Event,$81k-$138k\n(Glassdoor Est.),SAP Hiring Event!\n\nEvent Details\nDate: Tues...,4.6,SAP\n4.6,"Newport Beach, CA",-1,10000+ Employees,1972,Company - Public,Computer Hardware & Software,Information Technology,$10+ billion (USD),-1
8,Scientist,-1,About Karius\nKarius is a venture-backed life ...,2.6,Karius\n2.6,"Redwood City, CA",-1,51 to 200 Employees,2014,Company - Private,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Unknown / Non-Applicable,-1
9,Quantitative Researcher,-1,What happens when accomplished scientists and ...,5.0,TGS Management Company\n5.0,"Irvine, CA",-1,1 to 50 Employees,1989,Company - Private,Investment Banking & Asset Management,Finance,Unknown / Non-Applicable,-1

We will need to `parse job roles`, `remove ratings from company names`, `remove state identifiers from location`, `extract age of companies`, and `parse job descriptions`.

### Job Role Parsing

In [10]:
def return_job_role(row):
    if "data scientist" in row:
        return "Data Science"
    elif "data engineer" in row:
        return "Data Engineering"
    elif "data analyst" in row:
        return "Data Analysis"
    elif "machine learning" in row:
        return "ML Engineering"
    else : return np.nan

In [11]:
df["Job Title"] = df["Job Title"].str.lower()
# Extract job titles
extracted_job_roles = df["Job Title"].apply(return_job_role)
extracted_job_roles.value_counts(dropna=False)

NaN                 726
Data Analysis       415
Data Science        393
Data Engineering    246
ML Engineering      218
Name: Job Title, dtype: int64

In [12]:
# Replaces Job Titles
df["Job Title"] = extracted_job_roles
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1998 entries, 0 to 2417
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Job Title          1272 non-null   object
 1   Salary Estimate    1998 non-null   object
 2   Job Description    1998 non-null   object
 3   Rating             1998 non-null   float64
 4   Company Name       1995 non-null   object
 5   Location           1998 non-null   object
 6   Headquarters       1998 non-null   int64
 7   Size               1998 non-null   object
 8   Founded            1998 non-null   int64
 9   Type of ownership  1998 non-null   object
 10  Industry           1998 non-null   object
 11  Sector             1998 non-null   object
 12  Revenue            1998 non-null   object
 13  Competitors        1998 non-null   int64
dtypes: float64(1), int64(3), object(10)
memory usage: 234.1+ KB

### Salary Parsing

In [13]:
salary = df["Salary Estimate"].copy()
salary

0       $155k-$247k\n(Glassdoor Est.)
1        $67k-$117k\n(Glassdoor Est.)
2                                  -1
3         $41k-$91k\n(Glassdoor Est.)
4                                  -1
                    ...
2411     $74k-$151k\n(Glassdoor Est.)
2413     $82k-$142k\n(Glassdoor Est.)
2414                               -1
2416     $97k-$123k\n(Glassdoor Est.)
2417                               -1
Name: Salary Estimate, Length: 1998, dtype: object

In [14]:
def parse_salaries(row):
    if row == '-1':
        return -1
    else:
        salary = row.split("\n")[0]
        return salary.replace("$", "").replace("k", "")

In [15]:
salaries_parsed = salary.apply(parse_salaries)
# Irrgeularly large parsed salaries
irregular_salaries = salaries_parsed[salaries_parsed.apply(lambda row: len(str(row)) > 7)]
irregular_salaries

34     Employer Provided Salary:
196               59-96 Per Hour
507               21-30 Per Hour
721    Employer Provided Salary:
816    Employer Provided Salary:
Name: Salary Estimate, dtype: object

Since there are only 5 irregular salaries after parsing, we simply delete these records.

In [16]:
remove = irregular_salaries.index
salaries_parsed[remove] = -1
salaries_parsed[remove]

34     -1
196    -1
507    -1
721    -1
816    -1
Name: Salary Estimate, dtype: object

In [17]:
df["Salary Estimate"] = salaries_parsed
df["Salary Estimate"]

0       155-247
1        67-117
2            -1
3         41-91
4            -1
         ...
2411     74-151
2413     82-142
2414         -1
2416     97-123
2417         -1
Name: Salary Estimate, Length: 1998, dtype: object

In [18]:
 # Split into min, max and average salaries
 df["min_salary"] = df["Salary Estimate"].\
     apply(lambda row: int(row.split("-")[0]) if row != -1 else -1)
 df["max_salary"] = df["Salary Estimate"].\
     apply(lambda row: int(row.split("-")[1]) if row != -1 else -1)
 df["avg_salary"] = df["Salary Estimate"].\
     apply(lambda row: np.mean([int(x) for x in row.split("-")]) if row != -1 else -1)
 df.describe()

,Rating,Headquarters,Founded,Competitors,min_salary,max_salary,avg_salary
count,1998.000000,1998.0,1998.000000,1998.0,1998.000000,1998.000000,1998.000000
mean,3.563614,-1.0,1666.279279,-1.0,63.215716,104.635636,83.925676
std,1.351982,0.0,737.000228,0.0,49.919013,80.170139,64.586955
min,-1.000000,-1.0,-1.000000,-1.0,-1.000000,-1.000000,-1.000000
25%,3.500000,-1.0,1962.000000,-1.0,-1.000000,-1.000000,-1.000000
50%,3.900000,-1.0,1996.000000,-1.0,70.000000,119.500000,96.500000
75%,4.200000,-1.0,2010.000000,-1.0,103.000000,165.000000,134.000000
max,5.000000,-1.0,2020.000000,-1.0,212.000000,361.000000,285.500000

### Company text

In [19]:
df.loc[:, ["Company Name", "Rating"]]

                          Company Name  Rating
0        Samsung Research America\n3.7     3.7
1              Unitedhealth Group\n3.4     3.4
2                            SummerBio    -1.0
3                       Biomerica\n2.5     2.5
4            Specific Diagnostics\n1.0     1.0
...                                ...     ...
2411               TuSimple, Inc.\n3.7     3.7
2413               TuSimple, Inc.\n3.7     3.7
2414               TuSimple, Inc.\n3.7     3.7
2416  Samsung Semiconductor, Inc.\n3.5     3.5
2417                           Kinship    -1.0

[1998 rows x 2 columns]

Conpany names with ratings have the rating in a separate line within the `Company Name` column.

In [20]:
# Remove rating from company names
df['company_txt'] = df["Company Name"].\
    apply(lambda row: row.split("\n")[0] if row is not np.nan else -1)

### Remove State Identifier

In [21]:
# Remove ", CA" since all records from California
locations_clean = df["Location"].str.replace(", CA", "")
locations_clean.value_counts()

San Francisco          371
San Diego              161
Santa Clara            138
San Jose               130
Los Angeles            125
                      ...
Vernon                   1
Roseville                1
Downey                   1
Arcadia                  1
San Juan Capistrano      1
Name: Location, Length: 163, dtype: int64

In [22]:
df["location"] = locations_clean

### Age of Company

In [23]:
# Current year - founding year
company_age = df["Founded"].apply(lambda row: row if row == -1 else 2020 - row)
company_age.value_counts()

-1      326
 44      95
 4       76
 9       70
 5       63
       ...
 28       1
 114      1
 117      1
 123      1
 121      1
Name: Founded, Length: 128, dtype: int64

In [24]:
df["age"] = company_age

### Parse Job Descriptions

In [25]:
# Parse python
df["python"] = df['Job Description'].apply(lambda x: 1 if 'python' in x.lower() else 0)
df["python"].value_counts()

1    1130
0     868
Name: python, dtype: int64

In [31]:
df["R"] = df['Job Description'].apply(lambda x: 1 if ' r ' in x.lower() or 'r-' in x.lower() else 0)
df["R"].value_counts()

0    1490
1     508
Name: R, dtype: int64

In [30]:
df["spark"] = df['Job Description'].apply(lambda x: 1 if 'spark' in x.lower() else 0)
df["spark"].value_counts()

0    1606
1     392
Name: spark, dtype: int64

In [33]:
df["aws"] = df['Job Description'].apply(lambda x: 1 if 'aws' in x.lower() else 0)
df["aws"].value_counts()

0    1479
1     519
Name: aws, dtype: int64

In [34]:
df["excel"] = df['Job Description'].apply(lambda x: 1 if 'excel' in x.lower() else 0)
df["excel"].value_counts()

0    1074
1     924
Name: excel, dtype: int64

In [42]:
# Save cleaned data
df_clean = df.drop(["Salary Estimate", "Company Name", "Founded", "Headquarters", "Competitors"], axis=1)
df_clean.reset_index(drop=True, inplace=True)
df_clean.to_csv("data_clean.csv")
df_clean

,Job Title,Job Description,Rating,Location,Size,Type of ownership,Industry,Sector,Revenue,min_salary,max_salary,avg_salary,company_txt,location,age,python,R,spark,aws,excel
0,Data Science,Title: Sr. Data Scientist\n\nCompany: Samsung ...,3.7,"Mountain View, CA",1001 to 5000 Employees,Subsidiary or Business Segment,Computer Hardware & Software,Information Technology,$50 to $100 million (USD),155,247,201.0,Samsung Research America,Mountain View,32,1,1,1,1,0
1,Data Science,Optum Payment Integrity Analytics is looking t...,3.4,"San Diego, CA",10000+ Employees,Company - Public,Health Care Services & Hospitals,Health Care,$10+ billion (USD),67,117,92.0,Unitedhealth Group,San Diego,43,1,0,1,0,0
2,NaN,Testing is the most significant bottleneck in ...,-1.0,"Menlo Park, CA",-1,-1,-1,-1,-1,-1,-1,-1.0,SummerBio,Menlo Park,-1,0,0,0,0,1
3,NaN,Biomerica Corporation focusing on the research...,2.5,"Irvine, CA",1 to 50 Employees,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$5 to $10 million (USD),41,91,66.0,Biomerica,Irvine,-1,0,0,0,0,1
4,Data Science,_*The Company*_\nThe world is facing a medical...,1.0,"Mountain View, CA",1 to 50 Employees,Company - Private,-1,-1,Less than $1 million (USD),-1,-1,-1.0,Specific Diagnostics,Mountain View,-1,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1993,ML Engineering,These opportunities are located in San Diego. ...,3.7,"Los Angeles, CA",201 to 500 Employees,Company - Private,Computer Hardware & Software,Information Technology,Unknown / Non-Applicable,74,151,112.5,"TuSimple, Inc.",Los Angeles,5,1,0,0,0,0
1994,NaN,Sensor Research Engineer\n\nEmail your resume ...,3.7,"San Diego, CA",201 to 500 Employees,Company - Private,Computer Hardware & Software,Information Technology,Unknown / Non-Applicable,82,142,112.0,"TuSimple, Inc.",San Diego,5,1,0,0,0,0
1995,NaN,Internship for (Summer/Spring/Fall 2021)\n\nFo...,3.7,"San Francisco, CA",201 to 500 Employees,Company - Private,Computer Hardware & Software,Information Technology,Unknown / Non-Applicable,-1,-1,-1.0,"TuSimple, Inc.",San Francisco,5,1,0,0,0,0
1996,NaN,Modem Systems Engineer (5G/LTE – Advanced Algo...,3.5,"San Diego, CA",1001 to 5000 Employees,Subsidiary or Business Segment,Computer Hardware & Software,Information Technology,Unknown / Non-Applicable,97,123,110.0,"Samsung Semiconductor, Inc.",San Diego,37,1,0,0,0,0
1997,Data Science,"WHO WE ARE\n\nKinship, Mars Petcare's newest d...",-1.0,"San Francisco, CA",1 to 50 Employees,Company - Private,Advertising & Marketing,Business Services,Less than $1 million (USD),-1,-1,-1.0,Kinship,San Francisco,-1,1,1,0,1,0